PORT=5001
NODE_ENV=development
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRE=7d
# Change 'postgres' and 'password' to your local PostgreSQL username and password
DATABASE_URL=postgresql://postgres:password@localhost:5432/baorongvang
CORS_ORIGIN=http://localhost:3000

WEATHER_KEY=
